* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position:absolute;
    min-height: 100%;
    width:100%;
    display: flex;
}

.header-center-footer-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    min-height: 50px;
    max-height: 100px;
    padding: 1em;
    flex: 1;
    background-color: cornflowerblue;
}

.center-container {
    flex: 8;
    display: flex;
    flex-direction: row;
}

.footer {
    min-height: 50px;
    padding: 1em;
    flex: 1;
    background-color: cornflowerblue;
}

.left-menu {
    flex: 1;
    padding: 1em;
    background-color: lightsalmon;
}

.right-container {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.top-menu {
    flex: 1;
    /*min-height: 40px;*/
    background-color: lightgreen;
    padding: 1em;
}

.down-container {
    flex: 11;
    display: flex;
    flex-direction: row;
}

.down-center-container {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.right-menu {
    flex: 1;
    padding: 1em;
    background-color: lightsalmon;
}

.center-menu {
    flex: 11;
    background-color: white;
    padding: 1em;
}

.down-menu {
    flex: 1;
    /*min-height: 40px;*/
    padding: 1em;
    background-color: lightgreen;
}

.header-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-inner-rectangle {
    flex: 1;
    background-color: white;
    max-width: 120px;
    max-height: 20px;
    text-align: center;
}

.nav-container {
    padding-left: 50%;
    flex: 2;
}

#horizontal-list {
    justify-content: space-between;
    display: flex;
}

.nav-text {
    text-decoration: none;
    color: white;
    font: bold;
    font-size: 2em;
}

nav li {
    list-style: none;
}

.footer-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.footer-some-text {
    flex: 1;
}

.footer-inner-rectangle {
    flex: 1;
    background-color: white;
    max-width: 120px;
    max-height: 20px;
    text-align: center;
}

.memes-list {
    text-align: center;
}

.meme {
    padding-bottom: 5%;
    text-decoration: none;
    list-style-type: none;
}